@model TracksMassTaxFaqs.Models.UrlHistoryModel

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<h2>@Model.Url</h2>
<h3>@Model.VersionCount versions</h3>
<h3>Last updated at @Model.LastUpdatedAt</h3>
